:root{
  --first-color:hsl(353,100%,65%);
  --titl-color:hsl(244,24%,26%);
  --text-color:hsl(244,16%,43%);
  --body-color:hsl(258, 60%, 98%);
  --container-color: #fff;

  --body-font: 'Helvetica Neue', sans-serif;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;

  --font-medium: 500;
  --font-semibold:600;
  --font-bold: 700;

  --shadow:0px 5px 20px 0px rgba(9, 9, 9, 0.38);

  --border-radius: 20px;

  

}
[data-theme="dark"] {
  --first-color: hsl(353, 100%, 65%);
  --titl-color: hsl(244deg 44.51% 79.57%);
  --text-color: hsl(244, 16%, 80%);
  --body-color: hsl(244, 24%, 10%);
  --container-color: hsl(244, 24%, 14%);
  --button-color: hsl(242, 47%, 47%);
  --work-card-bg: hsl(244, 24%, 18%);
  --shadow:0px 5px 20px 0px rgba(189, 169, 169, 0.38); 
}
@media screen and (max-width: 1024px) {
  :root {
    --h1-font-size: 1.75em;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  }
}
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body{
  background-color: var(--body-color);
  line-height: 1.7;
  color:var(--text-color);
}
h1,h2,h3{
  color: var(--titl-color);
  font-weight: var(--font-semibold);
  line-height: 1.2;
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
}
button{
  cursor:pointer;
  border:none;
  outline:none;
}

img{
  max-width: 100%;
  height:auto;
  vertical-align: middle;
}

.container{
  max-width: 1080px;
  padding-left: 15px;
  padding-right: 15px;
  margin:0 auto;
}

.grid{
  display: grid;
}
.section{
  padding-top: 7rem;
  padding-bottom: 2rem;
}
.section_title{
  font-size:var(--h1-font-size);
  margin-left:0.875rem;
  font-weight: var(--font-bold);
  position: relative;
  margin-bottom: 3.75rem;
}

.btn{
  padding: 0.75rem 2rem;
  line-height: 1;
  border-radius: 1.875rem;
  box-shadow: 0 0 1px rgb(0 0 0 / 0%);
  border: 1px solid transparent;
  color: #ffff;
  display: inline-block;
  background-color: var(--first-color);
  font-weight: var(--font-bold);
}
@keyframes button-push{
    50% {
      transform: scale(0.8);
    }
    100%{
      transform: scale(1);
    }
}
.btn:hover{
  animation: button-push 0.3s linear 1;
}
.section_title :before{
  content:'';
  background: url(./assets/dots-bg.svg);
  height: 2.25rem;
  width: 2.25rem;
  position: absolute;
  left:-0.875rem;
  top:-0.875rem;
}

.fa-solid.fa-moon {
    position: absolute;
    top: 50px;
    left: 45px;
    z-index: 2;
    font-size: 2em; /* Adjust font size as needed */
  }
  
  .fa-solid.fa-circle {
    position: absolute;
    top: 50px;
    left: 45px;
    z-index: 1;
    color: black; /* Sets the color of the circle background */
  }
  
  .moon-dark {
    color: #ffffff; /* Color of the moon icon in dark theme */
  }
  .fa-regular.fa-sun{
    position: absolute;
    top: 55px;
    left: 40px;
  }
  